footer.main-footer
	ul.main-footer__menu.container
		li
			a(href="about.html") О центре
		li
			i
		li
			a(href="services.html") Услуги
		li
			i
		li
			a(href="documents.html") Документы
		li
			i
		li
			a(href="registries.html") Реестры
		li
			i
		li
			a(href="integration.html") Интергация
		li
			i
		li
			a(href="grow.html") Программа "Выращивание"
		li
			i
		li
			a(href="news.html") Новости
		li
			i
		li
			a(href="contacts.html") Контакты
	.copyright
		.container
			span © 2020 Все права защищены. При полном или частичном копировании материалов, ссылка на сайт обязательна!
			span Создание сайта -
				a(href="https://kvokka.com/" target="_blank") Kvokka