.menu-mobile
	.container
		ul.menu-mobile__list
			li
				a(href="about.html") О центре
			li
				i
			li
				a(href="services.html") Услуги
			li
				i
			li
				a(href="documents.html") Документы
			li
				i
			li
				a(href="registries.html") Реестры
			li
				i
			li
				a(href="integration.html") Интергация
			li
				i
			li
				a(href="grow.html") Программа "Выращивание"
			li
				i
			li
				a(href="news.html") Новости
			li
				i
			li
				a(href="contacts.html") Контакты
			li.closed
				img(src="../images/icons/closed.png", alt="Закрыть")