.authorization {
	padding-top: 80px;
	padding-bottom: 60px;
	h1.title {
		text-align: center;
	}
	form {
		max-width: 400px;
		width: 100%;
		flex-direction: column;
		margin: 0 auto;
		label {
			width: 100%;
		}
		.form__register {
			display: flex;
			align-items: center;
			margin-bottom: 25px;
		}
		a.forgot-pas {
			align-self: center;
			text-decoration: underline;
			color: $color-main;
		}
	}
	.settings__wrapper {
		padding-top: 50px;
	}
	@media (max-width: 768px) {
		padding: 50px 0;
	}
}
