.graph {
	position: relative;
	background-color: $color-beige;
	padding-top: 60px;
	padding-bottom: 60px;
	overflow: hidden;

	h2.title {
		@media (max-width: 768px) {
			font-size: 20px;
			text-align: center;
		}
	}
}

.graph__glass {
	display: none;
	position: absolute;
	bottom: -60px;
	right: 0;
	font-size: 0;
	cursor: pointer;
	@media (max-width: 768px) {
		display: block;
	}
}
