header {
	background-color: $color-white;
}

.header__top {
	display: flex;
	align-items: center;
	padding: 15px 0;
	a {
		font-family: $font-circe;
		text-decoration: none;
		color: $color-black;
		font-size: 16px;
		font-weight: 400;
	}
}

.header__logo {
	width: 183px;
	height: 65px;
}

.header__links {
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	a {
		display: flex;
		align-items: center;
		margin-left: 30px;
		padding-bottom: 10px;
		span {
			margin-left: 10px;
		}
		&:hover {
			color: $color-red;
		}
	}
	@media (max-width: 768px) {
		display: none;
	}
}

.header__input {
	display: none;
	@media (max-width: 768px) {
		display: block;
		width: 33px;
		height: 33px;
		margin-left: auto;
	}
}

.header__burger {
	display: none;
	@media (max-width: 768px) {
		display: block;
		width: 33px;
		height: 33px;
		margin-left: 15px;
	}
}

.header__bottom {
	padding: 15px 0;
	border-top: 1px solid $color-beige;
	border-bottom: 1px solid $color-beige;
	@media (max-width: 768px) {
		display: none;
	}
}
