.slider-partners {
	padding: 0 30px;
	a {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: 18px;
		font-weight: 700;
		color: $color-main;
		max-width: 320px;
		width: 100%;
		span {
			margin-left: 20px;
		}
	}
	.slick-track {
		display: flex;
		align-items: center;
	}
}

.slider-partners__item {
	padding: 0 10px;
}
