.main-slider {
	.slick-prev {
		position: absolute;
		left: 15px;
		bottom: 0;
		top: auto;
		z-index: 10;
		&::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
			background-color: $color-red;
			border-radius: 50%;
			bottom: 0;
			left: 0;
			position: absolute;
			background-image: url("../images/icons/arrow.png");
			background-size: 10px 16px;
			background-repeat: no-repeat;
			background-position: center;
			transform: rotate(-180deg);
		}
	}
	.slick-next {
		position: absolute;
		left: 50px;
		bottom: 0;
		top: auto;
		z-index: 10;
		&::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
			background-color: $color-red;
			border-radius: 50%;
			bottom: 0;
			left: 0;
			position: absolute;
			background-image: url("../images/icons/arrow.png");
			background-size: 10px 16px;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.slick-dots {
		button {
			&::before {
				font-size: 0;
				width: 9px;
				height: 9px;
				background-color: $color-dark-beige;
				border-radius: 50%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.slick-active {
			button::before {
				background-color: $color-red;
			}
		}
		li {
			margin: 0;
		}
	}
}

.slider-partners,
.slider-thanks {
	.slick-prev {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%) rotate(-180deg);
		z-index: 10;
		position: absolute;
		width: 30px;
		height: 30px;
		background-color: $color-red;
		border-radius: 50%;
		background-image: url("../images/icons/arrow.png");
		background-size: 10px 16px;
		background-repeat: no-repeat;
		background-position: center;
		&::before {
			content: "";
		}
	}
	.slick-next {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		width: 30px;
		height: 30px;
		background-color: $color-red;
		border-radius: 50%;
		background-image: url("../images/icons/arrow.png");
		background-size: 10px 16px;
		background-repeat: no-repeat;
		background-position: center;
		&::before {
			content: "";
		}
	}
}

.slick-next,
.slick-prev {
	&::before {
		opacity: 1;
	}
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
	opacity: 1;
}

.slider-thanks {
	.slick-dots {
		left: 0;
		bottom: -40px;
		button {
			&::before {
				font-size: 0;
				width: 9px;
				height: 9px;
				background-color: $color-dark-beige;
				border-radius: 50%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.slick-active {
			button::before {
				background-color: $color-red;
			}
		}
		li {
			margin: 0;
		}
	}
}

.services__list,
.news__list {
	position: static;
	.slick-prev {
		position: absolute;
		left: 0;
		top: 100%;
		transform: translateY(100%);
		z-index: 10;
		&::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
			background-color: $color-red;
			border-radius: 50%;
			bottom: 0;
			left: 0;
			position: absolute;
			background-image: url("../images/icons/arrow.png");
			background-size: 10px 16px;
			background-repeat: no-repeat;
			background-position: center;
			transform: rotate(-180deg);
		}
	}
	.slick-next {
		position: absolute;
		right: 0;
		top: 100%;
		transform: translate(-100%, 100%);
		z-index: 10;
		&::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
			background-color: $color-red;
			border-radius: 50%;
			bottom: 0;
			left: 0;
			position: absolute;
			background-image: url("../images/icons/arrow.png");
			background-size: 10px 16px;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.slick-dots {
		transform: translateY(50%);
		button {
			&::before {
				font-size: 0;
				width: 9px;
				height: 9px;
				background-color: $color-dark-beige;
				border-radius: 50%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.slick-active {
			button::before {
				background-color: $color-red;
			}
		}
		li {
			margin: 0;
		}
	}
	.slick-dots {
		padding: 0 50px;
	}
}
