doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		include modules/header.pug

		main
			.container
				// breadcrumbs
				ul.breadcrumbs
					li
						a(href="index.html") Главная
					li
						span 
							<svg width="7" height="11" viewBox="0 0 133 241" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-2.7467,-3.90243e-14)"><g id="Chevron_Right_1_" transform="matrix(1,0,0,1,-51.3663,0)"><path d="M183.189,111.816L74.892,3.555C70.14,-1.185 62.441,-1.185 57.677,3.555C52.925,8.295 52.925,15.994 57.677,20.734L157.384,120.405L57.689,220.076C52.937,224.816 52.937,232.515 57.689,237.267C62.441,242.007 70.152,242.007 74.904,237.267L183.201,129.006C187.881,124.315 187.881,116.495 183.189,111.816Z" style="fill:rgb(90,39,18);fill-rule:nonzero;"/></g></g></svg>
					li О центре

			// о нас
			section.about.container
				.about__top
					.about__col
						h1.title МЫ - РЕГИОНАЛЬНЫЙ ЦЕНТР ИНЖИНИРИНГА
						p.text <b>Цель</b> Регионального центра инжиниринга - повышение технологической готовности субъектов малого и среднего предпринимательства Курской области и освоение новых видов продукции, а также <b>внедрение инноваций и повышение их конкурентоспособности.</b>
						p.text Региональный центр инжиниринга Курской области ставит своей целью:
						ul.about__list
							li Обеспечение системного подхода к процессу модернизации производств в регионе;
							li Увеличение числа СМСП, использующих инжиниринговые услуги;
							li Увеличение числа квалифицированных инжиниринговых компаний в регионе;
							li Повышение эффективности СМСП за счет внедрения инжиниринговых услуг;
							li Создание высокотехнологичных производств в регионе;
							li Направление инструментов поддержки субъектов МСП на модернизацию производств;
							li Развитие современного рынка инжиниринговых услуг.
					.about__col
						img(src="images/trust/item.png", alt="")

				.about__bottom

				h3.title Задача Регионального центра инжиниринга
				p.text <b> Задача Регионального центра инжиниринга </b> – содействие в разработке (проектировании) технических и технологических процессов и обеспечение решения проектных, инженерных, технологических и организационно - внедренческих задач, возникающих у субъектов малого и среднего предпринимательства в процессе модернизации, технического перевооружения и (или) создания новых производств и видов продукции.
				p.text Региональный центр инжиниринга Курской области ставит своей задачей:
				ul.about__list
					li Повышение технологической готовности субъектов МСП;
					li Контроль качества оказания инжиниринговых услуг;
					li Обеспечение взаимодействия между СМСП и инжиниринговыми компаниями;
					li Создание открытой площадки для взаимодействия инжиниринговых компаний и заказчиков их услуг;
					li Модернизация производственного парка субъектов МСП;
					li Повышение качества выпускаемой продукции субъектами МСП.
					
			// благодарности
			section.thanks
				.container
					h2.title НАШИ ДОСТИЖЕНИЯ И БЛАГОДАРНОСТИ
					ul.slider-thanks
						li.slider-thanks__item
							img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							img(src="images/thanks/item.png" alt="")

			// сотрудничество
			section.cooperation
				.container
					h2.title Давайте сотрудничать
					.cooperation__form
						form(method="get")
							.cooperation__row
								.cooperation__form-col
									p
										label Ваше имя
										input(type="text")
									p
										label Ваш телефон
										input(type="tel")
								.cooperation__form-col
									p
										label Ваш комментарий
										textarea()
							.cooperation__row
								input(type="checkbox" id="checkbox") 
								label(for="checkbox") Отправляя форму, я даю согласие на <a href="#">обработку персональных данных</a>, подтверждаю согласие с <a href="#">политикой конфиденциальности и условиями пользовательского соглашения</a>, а также на получение информационных рассылок от проекта и партнеров проекта.
								button.main-button Отправить

		include modules/menu-mobile.pug
		include modules/footer.pug
		include modules/script.pug