doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		include modules/header.pug

		main
			.container
				// breadcrumbs
				ul.breadcrumbs
					li
						a(href="index.html") Главная
					li
						span 
							<svg width="7" height="11" viewBox="0 0 133 241" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-2.7467,-3.90243e-14)"><g id="Chevron_Right_1_" transform="matrix(1,0,0,1,-51.3663,0)"><path d="M183.189,111.816L74.892,3.555C70.14,-1.185 62.441,-1.185 57.677,3.555C52.925,8.295 52.925,15.994 57.677,20.734L157.384,120.405L57.689,220.076C52.937,224.816 52.937,232.515 57.689,237.267C62.441,242.007 70.152,242.007 74.904,237.267L183.201,129.006C187.881,124.315 187.881,116.495 183.189,111.816Z" style="fill:rgb(90,39,18);fill-rule:nonzero;"/></g></g></svg>					
					li
						a(href="news.html") Новости
					li
						span 
							<svg width="7" height="11" viewBox="0 0 133 241" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-2.7467,-3.90243e-14)"><g id="Chevron_Right_1_" transform="matrix(1,0,0,1,-51.3663,0)"><path d="M183.189,111.816L74.892,3.555C70.14,-1.185 62.441,-1.185 57.677,3.555C52.925,8.295 52.925,15.994 57.677,20.734L157.384,120.405L57.689,220.076C52.937,224.816 52.937,232.515 57.689,237.267C62.441,242.007 70.152,242.007 74.904,237.267L183.201,129.006C187.881,124.315 187.881,116.495 183.189,111.816Z" style="fill:rgb(90,39,18);fill-rule:nonzero;"/></g></g></svg>					
					li Руководитель регионального центра инжиниринга Чернышев Илья принял участие в Международной специализированной...

			section.article.container
				.article__head
					h1.visually-hidden Руководитель РЦИ Чернышев Илья принял участие в Международной специализированной сельскохозяйственной выставке AgriTek/FarmTek  Astana 2020 (г. Нур-Султан, Республика Казахстан)
					h3.title Руководитель РЦИ Чернышев Илья принял участие в Международной специализированной сельскохозяйственной выставке AgriTek/FarmTek  Astana 2020 (г. Нур-Султан, Республика Казахстан)
					.date 
						p.article__date 
							span Опубликовано 15.03.20 
							a(href="#")
								<svg width="13" height="13" viewBox="0 0 470 474" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-2.006,0)"><path d="M385.513,301.214C358.075,301.214 333.873,314.286 318.061,334.304L171.401,259.302C173.321,252.141 174.701,244.742 174.701,236.955C174.701,228.478 173.062,220.497 170.775,212.731L316.788,138.075C332.513,158.999 357.341,172.675 385.534,172.675C433.292,172.675 471.925,134.042 471.925,86.327C471.926,38.655 433.292,0 385.535,0C337.885,0 299.209,38.655 299.209,86.326C299.209,94.135 300.59,101.555 302.531,108.738L155.892,183.74C140.059,163.701 115.813,150.586 88.332,150.586C40.617,150.586 2.006,189.262 2.006,236.955C2.006,284.648 40.618,323.303 88.332,323.303C116.568,323.303 141.375,309.584 157.164,288.639L303.112,363.295C300.825,371.039 299.165,379.085 299.165,387.584C299.165,435.277 337.841,473.932 385.491,473.932C433.249,473.932 471.882,435.277 471.882,387.584C471.904,339.848 433.271,301.214 385.513,301.214Z" style="fill:rgb(224,77,57);fill-rule:nonzero;"/></g></svg>
				.article__banner
					img(src="images/article-banner.jpg" alt="")
				p.text <b>11-13 марта</b> в Нур-Султане прошла <a href="#">15-ая международная специализированная сельскохозяйственная выставка AgriTek/FarmTek Astana 2020</a>. В павильонах выставки проходила демонстрация новейших технологий мировых брендов сельскохозяйственной техники, оборудования, инновационных разработок в сфере растениеводства и животноводства. Выставка AgriTek/FarmTek Astana 2020 получила статус «UFI Approved Event». Знак «UFI Approved Event» свидетельствует о высоком организационном уровне событий, их влиянии на развитие бизнеса и формирование отрасли, а также подтверждает достоверность статистики.
				p.text <b>Площадь AgriTek/FarmTek Astana — 5134 кв.м</b> (нетто). <b>Были представлены 221 экспонент из 26 стран</b>. Согласно официальной статистике, выставку посетили 4160 человек, из которых 97% являются специалистами.
				p.text В рамках торжественного открытия выставки, в котором приняли участие исполняющий обязанности директора Департамента инвестиционной политики Министерства сельского хозяйства Республики Казахстан Ахметов Шаймерден Ибрагимович, Торговый представитель Российской Федерации в Республике Казахстан Кочетков Максим Николаевич, Чрезвычайный и Полномочный Посол США в Республике Казахстан Уильям Мозер, было отмечено разнообразие в экспортном потенциале агропромышленной инновационной продукции малого бизнеса Курской области.

			// новости
			section.news.container
				.news__head
					h2.title Другие новости
					a(href="news.html").main-button.main-button--mode Смотреть все
				.news__wrapper
					ul.news__list.news__list--mode
						li.news__list-item
							a(href="")
								p.news__text Региональный центр инжиниринга Курской области информирует об актуализации реестра инжиниринговых компаний, их компетенций
								.news__list-bottom
									span.date 13.04.20
									button.main-button.main-button--mode Подробнее
						li.news__list-item.important
							a(href="")
								p.news__text До 20 апреля (10:00 мск) 2020 года идет прием заявок на конкурсы по программе «Старт». 
								.news__list-bottom
									span.date 14.04.20
									button.main-button.main-button--mode Подробнее

						li.news__list-item
							a(href="")
								p.news__text Руководитель РЦИ Илья Чернышев принял участие в 23-Й Международной выставке «АВТОМАТИЗАЦИЯ. ЭЛЕКТРОНИКА», (Г. МИНСК, РЕСПУБЛИКА БЕЛАРУСЬ)
								.news__list-bottom
									span.date 16.03.20
									button.main-button.main-button--mode Подробнее

		include modules/menu-mobile.pug
		include modules/footer.pug
		include modules/script.pug