doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		include modules/header.pug

		main
			.container
				// breadcrumbs
				ul.breadcrumbs
					li
						a(href="index.html") Главная
					li
						span 
							<svg width="7" height="11" viewBox="0 0 133 241" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-2.7467,-3.90243e-14)"><g id="Chevron_Right_1_" transform="matrix(1,0,0,1,-51.3663,0)"><path d="M183.189,111.816L74.892,3.555C70.14,-1.185 62.441,-1.185 57.677,3.555C52.925,8.295 52.925,15.994 57.677,20.734L157.384,120.405L57.689,220.076C52.937,224.816 52.937,232.515 57.689,237.267C62.441,242.007 70.152,242.007 74.904,237.267L183.201,129.006C187.881,124.315 187.881,116.495 183.189,111.816Z" style="fill:rgb(90,39,18);fill-rule:nonzero;"/></g></g></svg>
					li Программа "Выращивание"
			section.grow
				.container
					h1.title ПРОГРАММА "ВЫРАЩИВАНИЕ"
					p.text <b>Комитет промышленности</b>, торговли и развития малого предпринимательства Курской области и <b>Ассоциация микрокредитная компания «Центр поддержки предпринимательства Курской области» объявляет о начале приема заявок для участия в мероприятиях по программе «выращивание»</b>, которые включают в себя комплекс мер, направленных на стимулирование и развитие субъектов МСП в качестве поставщиков (исполнителей, подрядчиков) при осуществлении закупок товаров, работ, услуг крупнейшими заказчиками.
					p.text Стать участником мероприятий по «выращиванию» и получить поддержку могут:
					ul.grow__list
						li субъекты МСП производственного сектора;
						li субъекты МСП зарегистрированные на территории субъекта Российской Федерации, внедряющего мероприятия по «выращиванию».
					p.text Субъекты МСП принявшие участие в мероприятиях по «выращиванию» и по результатам проведенной квалификационной оценки, и сформированной индивидуальной карты развития могут получить финансовую, имущественную, информационную, маркетинговую поддержку, в том числе в виде лизинга, льготного кредитования, сертификации и иную поддержку. <b>Данная поддержка позволит субъектам МСП расширить или модернизировать свое производство, приобрести новое оборудование, получить доступ к финансовым и материальным ресурсам, найти новые источники сбыта своей продукции, стать надежными поставщиками.</b>
					p.text По интересующим вас вопросам - обращаться по телефону: <a href="tel:+74712703377">+7 (4712) 70-33-77.</a> Отправить заявку вы можете на электронную почту: <a href="mailto:cpp46@mail.ru">cpp46@mail.ru</a>
					.accordion-wrapper
						button.accordion Условия участия
						.panel
							p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt est nostrum quae quod ab dolorem iure, quasi laborum! Nobis, ad?
						button.accordion Пакет документов
						.panel
							p.text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, in?

		include modules/menu-mobile.pug
		include modules/footer.pug
		include modules/script.pug