doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.content
			include modules/header.pug

			main
				h1.visually-hidden Региональный центр инжиниринга
				// main-slider desktop
				section.container.order-banner
					.figure.figure--1
					.figure.figure--4
					.figure.figure--2
					.figure.figure--3
					.figure.figure--3-2
					.figure.figure--2-1
					.figure.figure--4-2
					.main-slider
						.figure.figure--1
						.main-slider__wrapper
							.main-slider__col
								h2.main-slider__title Контроль качества
								p.main-slider__subtitle оказания инжиниринговых услуг
								button.main-button Заказать услугу
							.main-slider__col.main-slider__col--right
								.main-slider__big-circle
						.main-slider__wrapper
							.main-slider__col
								h2.main-slider__title Контроль качества
								p.main-slider__subtitle оказания инжиниринговых услуг
								button.main-button Заказать услугу
							.main-slider__col.main-slider__col--right
								.main-slider__big-circle
						.main-slider__wrapper
							.main-slider__col
								h2.main-slider__title Контроль качества
								p.main-slider__subtitle оказания инжиниринговых услуг
								button.main-button Заказать услугу
							.main-slider__col.main-slider__col--right
								.main-slider__big-circle

				// main-slider mobile
				section.main-slider--mobile
					.main-slider--mobile__wrapper
						h2.main-slider--mobile__title Контроль качества
						p.main-slider--mobile__subtitle оказания инжиниринговых услуг
						button.main-button Заказать услугу
					.main-slider--mobile__wrapper
						h2.main-slider--mobile__title Контроль качества
						p.main-slider--mobile__subtitle оказания инжиниринговых услуг
						button.main-button Заказать услугу
					.main-slider--mobile__wrapper
						h2.main-slider--mobile__title Контроль качества
						p.main-slider--mobile__subtitle оказания инжиниринговых услуг
						button.main-button Заказать услугу

				// услуги
				section.services.container
					.services__head
						h2.title Услуги организации
						a(href="news.html").main-button.main-button--mode Смотреть все
					.services__wrapper
						ul.services__list.services__slider
							li.services__list-item
								a(href="" style="background-image: url('images/services/item.jpg')")
									h3.services__list-title Сертификация
									button.main-button Подробнее
							li.services__list-item
								a(href="" style="background-image: url('images/services/item2.jpg')")
									h3.services__list-title Лабораторные испытания
									button.main-button Подробнее
							li.services__list-item
								a(href="" style="background-image: url('images/services/item3.jpg')")
									h3.services__list-title Конструкторские услуги
									button.main-button Подробнее
							li.services__list-item
								a(href="" style="background-image: url('images/services/item4.jpg')")
									h3.services__list-title Цифровизация
									button.main-button Подробнее
							li.services__list-item
								a(href="" style="background-image: url('images/services/item5.jpg')")
									h3.services__list-title Модернизация
									button.main-button Подробнее
							li.services__list-item
								a(href="" style="background-image: url('images/services/item6.jpg')")
									h3.services__list-title Технические аудиты
									button.main-button Подробнее

				// почему нам доверяют
				section.trust.container
					.figure.figure--3-3
					.trust__col
						h2.title Почему нам доверяют?
						p.trust__text Региональный центр инжиниринга (РЦИ) — является отделом Ассоциации микрокредитная компания «Центр поддержки предпринимательства Курской области». Основным видом деятельности Центра является повышение технологической готовности субъектов малого и среднего предпринимательства за счет создания (проектирования) технологических и технических процессов и объектов, которые реализуют указанные процессы. Содействует в обеспечении процессов производства, обслуживания и эксплуатации промышленных, инфраструктурных и других объектов.
					.trust__col
						.trust__picture
							img(src="images/trust/item.png" alt="")

				// новости
				section.news.container
					.figure.figure--4-1
					.news__head
						h2.title Новости РЦИ
						button.main-button.main-button--mode Смотреть все
					.news__wrapper
						ul.news__list.news__slider
							li.news__list-item
								a(href="")
									p.news__text Региональный центр инжиниринга Курской области информирует об актуализации реестра инжиниринговых компаний, их компетенций
									.news__list-bottom
										span.date 13.04.20
										button.main-button.main-button--mode Подробнее
							li.news__list-item.important
								a(href="")
									p.news__text До 20 апреля (10:00 мск) 2020 года идет прием заявок на конкурсы по программе «Старт». 
									.news__list-bottom
										span.date 14.04.20
										button.main-button.main-button--mode Подробнее

							li.news__list-item
								a(href="")
									p.news__text Руководитель РЦИ Илья Чернышев принял участие в 23-Й Международной выставке «АВТОМАТИЗАЦИЯ. ЭЛЕКТРОНИКА», (Г. МИНСК, РЕСПУБЛИКА БЕЛАРУСЬ)
									.news__list-bottom
										span.date 16.03.20
										button.main-button.main-button--mode Подробнее

							li.news__list-item.important
								a(href="")
									p.news__text В понедельник 6 апреля в 10.00 завершится прием заявок на конкурс «Старт-Цифровые платформы».
									.news__list-bottom
										span.date 03.04.20
										button.main-button.main-button--mode Подробнее

							li.news__list-item
								a(href="")
									p.news__text Крупная Российская компания, занятая в сфере переработки углеводородного сырья, проводит поиск потенциальных поставщиков.
									.news__list-bottom
										span.date 06.04.20
										button.main-button.main-button--mode Подробнее

							li.news__list-item
								a(href="")
									p.news__text Руководитель РЦИ Чернышев Илья принял участие в Международной сельскохозяйственной выставке (г. Нур-Султан, Республика Казахстан)
									.news__list-bottom
										span.date 23.03.20
										button.main-button.main-button--mode Подробнее

				// интеграция
				section.graph

					.container
						.figure.figure--6
						.figure.figure--5-2
						.figure.figure--7
						.figure.figure--8
						h2.title Интеграция РЦИ Курской области
						.graph__picture
							img(src="images/graph.png" alt="")
							a(href="images/graph.png" data-fancybox="gallery").graph__glass
								img(src="images/icons/glass.png" alt="")

				// партнеры
				section.partners.container
					h2.title Наши партнеры
					ul.slider-partners
						li.slider-partners__item
							a(href="")
								img(src="images/partners/item.png" alt="" width="57" height="60")
								span Администрация Курской области
						li.slider-partners__item
							a(href="")
								img(src="images/partners/item2.png" alt="" width="57" height="60")
								span Комитет промышленности, торговли и предпринимательства
						li.slider-partners__item
							a(href="")
								img(src="images/partners/item3.png" alt="" width="175" height="53")
								span Фонд Развития Промышленности
						li.slider-partners__item
							a(href="")
								img(src="images/partners/item.png" alt="" width="57" height="60")
								span Администрация Курской области
						li.slider-partners__item
							a(href="")
								img(src="images/partners/item2.png" alt="" width="57" height="60")
								span Комитет промышленности, торговли и предпринимательства
						li.slider-partners__item
							a(href="")
								img(src="images/partners/item3.png" alt="" width="175" height="53")
								span Фонд Развития Промышленности

				// благодарности
				section.thanks.container
					.figure.figure--3-1
					h2.title Благодарности
					ul.slider-thanks
						li.slider-thanks__item
							a(href="images/thanks/item.png" data-fancybox="gallery-2")
								img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							a(href="images/thanks/item.png" data-fancybox="gallery-2")
								img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							a(href="images/thanks/item.png" data-fancybox="gallery-2")
								img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							a(href="images/thanks/item.png" data-fancybox="gallery-2")
								img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							a(href="images/thanks/item.png" data-fancybox="gallery-2")
								img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							a(href="images/thanks/item.png" data-fancybox="gallery-2")
								img(src="images/thanks/item.png" alt="")
							a(href="images/thanks/item.png" data-fancybox="gallery-2")
								img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							a(href="images/thanks/item.png" data-fancybox="gallery-2")
								img(src="images/thanks/item.png" alt="")
						li.slider-thanks__item
							a(href="images/thanks/item.png" data-fancybox="gallery-2")
								img(src="images/thanks/item.png" alt="")

				// адрес
				section.address
					.container
						.figure.figure--5-1
						.address__col
							h2.title Контакты и адреса
							ul.address__list
								li
									a(href="mailto:rci46@mail.ru")
										<svg width="20px" height="20px" viewBox="0 0 422 422" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M182.581,419.983C95.534,408.336 25.305,343.537 5.63,259.304L5.587,259.122C1.91,243.655 0,227.533 0,210.964C0,194.331 1.925,178.147 5.63,162.627L5.681,162.409C23.168,87.961 80.136,28.733 153.32,8.042L153.535,7.981C171.786,2.76 191.059,0 210.976,0C230.975,0 250.323,2.782 268.639,8.042C332.057,25.975 383.302,72.842 407.196,133.495L407.307,133.776C416.772,157.664 421.938,183.711 421.938,210.964C421.938,238.326 416.73,264.472 407.196,288.433L407.115,288.638C379.558,358.328 315.933,409.79 239.243,420C229.98,421.302 220.552,421.94 210.975,421.94C201.398,421.94 191.97,421.302 182.709,420L182.581,419.983Z" style="fill:rgb(224,77,57);"/><path d="M231.108,256.675C227.458,261.781 223.528,266.724 219.314,271.542C215.096,276.382 210.442,280.663 205.35,284.417C200.285,288.176 194.713,291.136 188.681,293.304C182.619,295.478 175.978,296.565 168.721,296.565C162.923,296.565 157.36,295.292 152.028,292.757C146.719,290.217 142.123,286.651 138.253,282.063C134.386,277.475 131.3,271.903 129.018,265.37C126.701,258.843 125.557,251.596 125.557,243.609C125.557,228.615 127.986,214.05 132.813,199.906C137.653,185.759 144.244,173.244 152.581,162.367C160.925,151.483 170.61,142.734 181.611,136.069C192.611,129.427 204.276,126.101 216.604,126.101C225.074,126.101 232.208,127.374 238.002,129.908C243.797,132.454 249.129,135.768 253.969,139.887L265.203,128.271L290.598,128.271L273.197,226.573C271.263,237.934 271.203,246.161 273.005,251.241C274.83,256.308 278.865,258.855 285.158,258.855C291.439,258.855 297.624,257.402 303.665,254.496C309.694,251.596 315.135,247.134 319.986,241.074C324.801,235.04 328.753,227.414 331.767,218.232C334.793,209.033 336.294,198.149 336.294,185.575C336.294,167.441 333.268,151.958 327.227,139.143C321.174,126.329 312.9,115.748 302.392,107.414C291.87,99.07 279.469,92.967 265.202,89.1C250.941,85.23 235.581,83.288 219.137,83.288C200.285,83.288 182.748,86.675 166.544,93.433C150.343,100.222 136.256,109.526 124.282,121.368C112.323,133.224 102.953,147.312 96.17,163.63C89.418,179.951 86.025,197.665 86.025,216.764C86.025,235.631 88.871,252.552 94.54,267.54C100.236,282.552 108.517,295.294 119.4,305.814C130.271,316.335 143.755,324.429 159.848,330.109C175.913,335.791 194.348,338.642 215.152,338.642C222.166,338.642 230.14,337.795 239.099,336.108C248.035,334.415 256.141,331.875 263.395,328.482L274.635,363.31C264.728,368.15 254.627,371.525 244.347,373.452C234.067,375.386 222.285,376.377 208.976,376.377C185.524,376.377 163.82,372.979 143.884,366.223C123.927,359.444 106.63,349.41 91.999,336.116C77.372,322.809 65.941,306.307 57.727,286.612C49.5,266.904 45.405,244.11 45.405,218.241C45.405,191.88 50.113,168.053 59.54,146.772C68.968,125.503 81.689,107.369 97.632,92.366C113.596,77.369 132.09,65.84 153.113,57.715C174.169,49.635 196.407,45.573 219.859,45.573C242.101,45.573 262.781,48.777 281.877,55.184C300.984,61.597 317.545,70.781 331.572,82.743C345.599,94.714 356.6,109.356 364.575,126.639C372.561,143.939 376.56,163.583 376.56,185.585C376.56,201.068 373.833,215.576 368.393,229.117C362.942,242.643 355.46,254.375 345.907,264.283C336.347,274.203 325.232,282.063 312.544,287.858C299.856,293.659 286.237,296.565 271.73,296.565C265.671,296.565 260.063,295.91 254.863,294.578C249.657,293.238 245.298,291.011 241.808,287.858C238.301,284.712 235.696,280.604 233.996,275.524C232.309,270.461 231.826,264.205 232.561,256.675L231.108,256.675Z" style="fill:white;"/><path d="M219.866,163.814C212.612,163.814 205.902,165.867 199.741,169.987C193.568,174.094 188.251,179.399 183.78,185.935C179.292,192.471 175.854,199.786 173.437,207.876C171.008,215.992 169.81,223.894 169.81,231.641C169.81,239.615 171.443,246.148 174.71,251.228C177.973,256.296 183.582,258.842 191.571,258.842C194.946,258.842 198.596,257.821 202.461,255.756C206.328,253.702 210.06,250.987 213.699,247.589C217.329,244.214 220.821,240.335 224.22,235.987C227.595,231.64 230.621,227.04 233.287,222.213L242.36,172.157C239.196,169.488 235.935,167.434 232.56,165.984C229.167,164.532 224.934,163.814 219.866,163.814Z" style="fill:rgb(224,77,57);"/></svg>
										span rci46@mail.ru
								li
									a(href="mailto:cpp46@mail.ru")
										<svg width="20px" height="20px" viewBox="0 0 422 422" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M182.581,419.983C95.534,408.336 25.305,343.537 5.63,259.304L5.587,259.122C1.91,243.655 0,227.533 0,210.964C0,194.331 1.925,178.147 5.63,162.627L5.681,162.409C23.168,87.961 80.136,28.733 153.32,8.042L153.535,7.981C171.786,2.76 191.059,0 210.976,0C230.975,0 250.323,2.782 268.639,8.042C332.057,25.975 383.302,72.842 407.196,133.495L407.307,133.776C416.772,157.664 421.938,183.711 421.938,210.964C421.938,238.326 416.73,264.472 407.196,288.433L407.115,288.638C379.558,358.328 315.933,409.79 239.243,420C229.98,421.302 220.552,421.94 210.975,421.94C201.398,421.94 191.97,421.302 182.709,420L182.581,419.983Z" style="fill:rgb(224,77,57);"/><path d="M231.108,256.675C227.458,261.781 223.528,266.724 219.314,271.542C215.096,276.382 210.442,280.663 205.35,284.417C200.285,288.176 194.713,291.136 188.681,293.304C182.619,295.478 175.978,296.565 168.721,296.565C162.923,296.565 157.36,295.292 152.028,292.757C146.719,290.217 142.123,286.651 138.253,282.063C134.386,277.475 131.3,271.903 129.018,265.37C126.701,258.843 125.557,251.596 125.557,243.609C125.557,228.615 127.986,214.05 132.813,199.906C137.653,185.759 144.244,173.244 152.581,162.367C160.925,151.483 170.61,142.734 181.611,136.069C192.611,129.427 204.276,126.101 216.604,126.101C225.074,126.101 232.208,127.374 238.002,129.908C243.797,132.454 249.129,135.768 253.969,139.887L265.203,128.271L290.598,128.271L273.197,226.573C271.263,237.934 271.203,246.161 273.005,251.241C274.83,256.308 278.865,258.855 285.158,258.855C291.439,258.855 297.624,257.402 303.665,254.496C309.694,251.596 315.135,247.134 319.986,241.074C324.801,235.04 328.753,227.414 331.767,218.232C334.793,209.033 336.294,198.149 336.294,185.575C336.294,167.441 333.268,151.958 327.227,139.143C321.174,126.329 312.9,115.748 302.392,107.414C291.87,99.07 279.469,92.967 265.202,89.1C250.941,85.23 235.581,83.288 219.137,83.288C200.285,83.288 182.748,86.675 166.544,93.433C150.343,100.222 136.256,109.526 124.282,121.368C112.323,133.224 102.953,147.312 96.17,163.63C89.418,179.951 86.025,197.665 86.025,216.764C86.025,235.631 88.871,252.552 94.54,267.54C100.236,282.552 108.517,295.294 119.4,305.814C130.271,316.335 143.755,324.429 159.848,330.109C175.913,335.791 194.348,338.642 215.152,338.642C222.166,338.642 230.14,337.795 239.099,336.108C248.035,334.415 256.141,331.875 263.395,328.482L274.635,363.31C264.728,368.15 254.627,371.525 244.347,373.452C234.067,375.386 222.285,376.377 208.976,376.377C185.524,376.377 163.82,372.979 143.884,366.223C123.927,359.444 106.63,349.41 91.999,336.116C77.372,322.809 65.941,306.307 57.727,286.612C49.5,266.904 45.405,244.11 45.405,218.241C45.405,191.88 50.113,168.053 59.54,146.772C68.968,125.503 81.689,107.369 97.632,92.366C113.596,77.369 132.09,65.84 153.113,57.715C174.169,49.635 196.407,45.573 219.859,45.573C242.101,45.573 262.781,48.777 281.877,55.184C300.984,61.597 317.545,70.781 331.572,82.743C345.599,94.714 356.6,109.356 364.575,126.639C372.561,143.939 376.56,163.583 376.56,185.585C376.56,201.068 373.833,215.576 368.393,229.117C362.942,242.643 355.46,254.375 345.907,264.283C336.347,274.203 325.232,282.063 312.544,287.858C299.856,293.659 286.237,296.565 271.73,296.565C265.671,296.565 260.063,295.91 254.863,294.578C249.657,293.238 245.298,291.011 241.808,287.858C238.301,284.712 235.696,280.604 233.996,275.524C232.309,270.461 231.826,264.205 232.561,256.675L231.108,256.675Z" style="fill:white;"/><path d="M219.866,163.814C212.612,163.814 205.902,165.867 199.741,169.987C193.568,174.094 188.251,179.399 183.78,185.935C179.292,192.471 175.854,199.786 173.437,207.876C171.008,215.992 169.81,223.894 169.81,231.641C169.81,239.615 171.443,246.148 174.71,251.228C177.973,256.296 183.582,258.842 191.571,258.842C194.946,258.842 198.596,257.821 202.461,255.756C206.328,253.702 210.06,250.987 213.699,247.589C217.329,244.214 220.821,240.335 224.22,235.987C227.595,231.64 230.621,227.04 233.287,222.213L242.36,172.157C239.196,169.488 235.935,167.434 232.56,165.984C229.167,164.532 224.934,163.814 219.866,163.814Z" style="fill:rgb(224,77,57);"/></svg>
										span cpp46@mail.ru
								li
									a(href="tel:+74712703377")
										<svg width="20px" height="20px" viewBox="0 0 384 384" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M56.262,327.738L50,321.17L49.637,320.77C18.802,286.721 0,241.539 0,192C0,142.267 18.95,96.924 50,62.83L50.356,62.44C57.838,54.267 66.016,46.744 74.819,40L75.199,39.706C107.549,14.792 148.061,0 192,0C236.111,0 276.768,14.908 309.181,40L314.1,43.866L320,48.977L320.46,49.39C359.476,84.529 384,135.423 384,192C384,297.968 297.968,384 192,384C140.184,384 93.134,363.429 58.635,330L56.262,327.738Z" style="fill:rgb(224,77,57);"/><g transform="matrix(0.864413,0,0,0.864413,26.0328,26.0328)"><path d="M136.278,74.001C146.762,74.044 155.215,82.523 155.214,92.938C155.214,107.393 157.481,121.574 161.942,135.088C164.113,142.002 162.301,149.371 157.25,154.415L137.808,180.26C154.011,210.802 172.967,229.752 203.741,246.179L230.276,226.148C234.297,222.019 242.395,219.957 248.983,222.204C262.427,226.647 276.614,228.907 291.062,228.907C301.504,228.907 309.999,237.402 310,247.843L310,291.062C310,301.504 301.504,309.999 291.062,309.999C171.373,309.999 74.001,212.627 74.001,92.938C74.001,82.523 82.453,74.044 92.938,74.001L136.278,74.001Z" style="fill:rgb(255,254,254);"/></g></svg>
										span +7 (4712) 70-33-77
								li
									a
										<svg width="20px" height="20px" viewBox="0 0 222 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g><path d="M110.513,0c-51.629,0 -93.633,42.003 -93.633,93.632c0,29.405 25.995,64.394 41.49,82.633c9.865,11.611 40.62,44.759 52.143,44.759c13.932,0 51.893,-44.317 52.271,-44.765c15.446,-18.218 41.359,-53.178 41.359,-82.627c0.001,-51.598 -41.952,-93.582 -93.63,-93.632Z" style="fill:#e04d39;"/><path d="M169.718,92.941c0,32.447 -26.399,58.846 -58.848,58.846c-32.447,0 -58.846,-26.398 -58.846,-58.846c0,-32.448 26.398,-58.848 58.846,-58.848c32.448,0.001 58.848,26.4 58.848,58.848Z" style="fill:#fff;"/><path d="M103.464,126.512l-17.542,0c-2.612,0 -5.742,-1.979 -5.742,-4.924l0,-27.957l-2.244,-0.004c-1.845,-0.059 -3.057,-0.942 -3.615,-2.363c-0.558,-1.422 -0.148,-3.007 1.096,-4.24l31.563,-31.3c0.943,-0.935 2.198,-1.451 3.533,-1.451c1.301,0 2.526,0.49 3.532,1.45l31.571,31.299c1.258,1.246 1.634,2.838 1.075,4.26c-0.552,1.41 -2.003,2.286 -3.739,2.343l-2.772,0.006l0,27.957c0,2.914 -2.412,4.882 -5.076,4.924l-17.541,0l-0.042,-16l-14.016,0l-0.041,16Z" style="fill:#e04d39;"/></g></svg>
										span г. Курск ул.Горького, 65
						.address__col
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2470.5820767663067!2d36.19579131583602!3d51.740678979674065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412f03bfab65f6d5%3A0x48ebfb2b82e7a3b7!2z0YPQuy4g0JPQvtGA0YzQutC-0LPQviwgNjUsINCa0YPRgNGB0LosINCa0YPRgNGB0LrQsNGPINC-0LHQuy4sIDMwNTAwMA!5e0!3m2!1sru!2sru!4v1588928768478!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

		include modules/footer.pug
		include modules/menu-mobile.pug
		include modules/script.pug