doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		include modules/header.pug

		main
			.container
				// breadcrumbs
				ul.breadcrumbs
					li
						a(href="index.html") Главная
					li
						span
							<svg width="7" height="11" viewBox="0 0 133 241" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-2.7467,-3.90243e-14)"><g id="Chevron_Right_1_" transform="matrix(1,0,0,1,-51.3663,0)"><path d="M183.189,111.816L74.892,3.555C70.14,-1.185 62.441,-1.185 57.677,3.555C52.925,8.295 52.925,15.994 57.677,20.734L157.384,120.405L57.689,220.076C52.937,224.816 52.937,232.515 57.689,237.267C62.441,242.007 70.152,242.007 74.904,237.267L183.201,129.006C187.881,124.315 187.881,116.495 183.189,111.816Z" style="fill:rgb(90,39,18);fill-rule:nonzero;"/></g></g></svg>
					li Услуги
			// услуги
			section.services.container
				.services__head
					h1.title Услуги организации
				.services__wrapper
					ul.services__list.services__list--desctop
						li.services__list-item
							a(href="" style="background-image: url('images/services/item.jpg')")
								h3.services__list-title Сертификация
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item2.jpg')")
								h3.services__list-title Лабораторные испытания
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item3.jpg')")
								h3.services__list-title Конструкторские услуги
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item4.jpg')")
								h3.services__list-title Цифровизация
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item5.jpg')")
								h3.services__list-title Модернизация
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item6.jpg')")
								h3.services__list-title Технические аудиты
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item.jpg')")
								h3.services__list-title Сертификация
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item2.jpg')")
								h3.services__list-title Лабораторные испытания
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item3.jpg')")
								h3.services__list-title Конструкторские услуги
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item4.jpg')")
								h3.services__list-title Цифровизация
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item5.jpg')")
								h3.services__list-title Модернизация
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item6.jpg')")
								h3.services__list-title Технические аудиты
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item.jpg')")
								h3.services__list-title Сертификация
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item2.jpg')")
								h3.services__list-title Лабораторные испытания
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item3.jpg')")
								h3.services__list-title Конструкторские услуги
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item4.jpg')")
								h3.services__list-title Цифровизация
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item5.jpg')")
								h3.services__list-title Модернизация
								button.main-button Подробнее
						li.services__list-item
							a(href="" style="background-image: url('images/services/item6.jpg')")
								h3.services__list-title Технические аудиты
								button.main-button Подробнее

					ul.services__list.services__list--mobile
						li
							a(href="#") Сертификация
						li
							a(href="#") Лабораторные исптыния
						li
							a(href="#") Конструкторские услуги
						li
							a(href="#") Цифровизация
						li
							a(href="#") Модернизация
						li
							a(href="#") Технические аудиты
						li
							a(href="#") Патентование
						li
							a(href="#") Организация тендера
						li
							a(href="#") Финансовый консалтинг проектов
						li
							a(href="#") Разработка документации
						li
							a(href="#") Генеральный подряд
						li
							a(href="#") Разработка ТЭО проекта
						li
							a(href="#") Авторский надзор строительства
						li
							a(href="#") Пуско-наладка

		include modules/menu-mobile.pug
		include modules/footer.pug
		include modules/script.pug